@import '../../scss/base/variables';

.fail-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-family: Pacifico;
        color: $main-blue;
        font-size: 4rem;
        margin: 30px;     
    }
    p {
        font-family: Pacifico;
        background-color: $main-red;
        font-size: 3rem;
        padding: 1rem;
        color: white;
        border-radius: 15px;
    }

    button {
        background-color: white;
        margin: 20px;
        color: $main-blue;
        border: 5px solid $main-blue;
        border-radius: 15px;
        padding: 2rem;
        font-size: 6rem;
        transition: 0.4s;
        &:hover {
            background-color:$main-blue;
            border-color: white;
            color: white;
            transition: 0.4s;
        }
    }
}